html, body, #root, .App {
  min-height: 100vh;
  background: #F0FAFB; 
}

.custom-header {
  background-color : #5DA5A7;
  background-image: url('../public/images/bg-header-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 8rem;
  position: "relative"
}

@media (min-width: 768px) {
  .custom-header {
    background-image: url('../public/images/bg-header-desktop.svg');
    height: 10rem;
  }
}